body {
    font-family: Verdana, sans-serif;
    background-color: #ebd234;
    margin: 0 auto;
    width: 340px;
    text-align: center;
}
h1 {
    background-color: #eee;
    padding: 3px;
    border-radius: 5pt;
}
table {
    background-color: #eee;
    border-radius: 5pt;
    margin: 10pt;
}

textarea {
    resize: vertical;
}

td {
    padding: 2px 10px;
    background-color: #f5e689;
    border-radius: 2pt;
}
nav {
    background-color: #eee;
    margin-bottom: 4px;
    border-radius: 5pt;
}

a {
    color: #d4b817;
}
a:hover {
    color: #b39c14;
}
