<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Cheeses</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigation">
    <p>
    <a href="/cheese">Home</a> |
<!--    <a href="/cheese/add">Add</a> |-->
<!--    <a href="/cheese/remove">Remove</a> |-->
    <a href="/category">Categories</a> |
<!--    <a href="/category/add">Add Category</a> |-->
    <a href="/menu">Menus</a>
<!--    <a href="/menu/add">Add Menu</a>-->
    </p>
</nav>

</body>
</html>